<div class="ps-panel-container">
  {{#each paneCtrl in paneControllers}}
    {{#if draggable}}
      {{ps-draggable-pane
      pane=paneCtrl
      showAnimation=showAnimation
      hideAnimation=hideAnimation}}
    {{else}}
      {{ps-pane
      pane=paneCtrl
      showAnimation=showAnimation
      hideAnimation=hideAnimation}}
    {{/if}}
  {{/each}}
</div>

{{yield}}
