html, body {
  margin: 20px;
}

p {
  margin-bottom: 5px;
}

.ps-panel {
  position: relative;
  height: 150px;
}

.ps-pane {
  position: absolute;
}

.panel-menu div {
  float: left;
  padding-right: 10px;
}

