<h2 id='title'>Welcome to ember-cli-panels</h2>

{{ps-panel
  panes=panes
  currentPaneName=pane
  showAnimation=showAnimation
  hideAnimation=hideAnimation}}

<div class="panel-menu">
  <div>
    <a href="#" {{action 'switchPane' 'panes/users'}}>
      Users
    </a>
  </div>
  <div>
    <a href="#" {{action 'switchPane' 'panes/contacts'}}>
      Contacts
    </a>
  </div>
</div>
